body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #283136;
}

a {
	text-decoration: none;
}

.do-center{
	width: 1160px;
	margin: 0 auto;
}

.do-center-catalog{
	display: flex;
	justify-content: space-between;
}

.header-main {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.header-main a{
	color: #000000;
}

.header-nerds-logo:active path{
	fill: rgba(0, 0, 0, 0.3);
}

.header-nav{
	display: flex;
	justify-content: space-around;
	width: 1160px;
	min-height: 80px;
	padding-top: 49px;
	text-transform: uppercase;
	color: #000000;
}

.inner-nav{
	margin: 0;
	}

.header-nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.header-nav a:hover{
	color: #fb565a;
}

.header-nav a:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-nav a:focus, .purchase-nav a:focus{
	padding-bottom: 10px;
	border-bottom: 2px solid #fb565a;
}

.main-nav, .purchase-nav, .logo-nav{
	list-style: none;
	color: #000000;
}

.logo-nav{
	margin: 0;
	padding: 0;
	width: 160px;
	min-height: 65px;
}

.main-nav{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0px;
	width: 450px;
	min-height: 65px;
}

.main-nav li, .purchase-nav li{
	display: block;
	padding: 22px 0px;
}

.purchase-nav {
	margin: 0;
	padding: 0;
	width: 120px;
	min-height: 65px;

}

.cart-icon{
	margin-right: 26px;
}

.slider{
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #eeeeee;
}

.slider-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  
  background-image: url("../img/slide-picture2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%; 
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;

}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  z-index: 1;
  width: 18px;
  height: 18px;  
  background: #ffffff;
}

.slider-list a{
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-list a:hover,
.slider-list a:focus {
  background-color: #e74246;
}

.slider-list a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.promo{

	display: flex;
	justify-content: space-between;
	margin: 0 0 80px 0;
	padding: 0 10px;
}

.promo-card{

	margin: 0;
	padding: 0;
	width: 300px;
	min-height: 350px;
	
}

.promo-card h3::before{
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	margin-bottom: 26px;
}

.promo-card:nth-child(1) h3::before{
	background-image: url("../img/advantage-picture-red.jpg");
}

.promo-card:nth-child(2) h3::before{
	background-image: url(../img/advantage-picture-green.jpg);
	background-color: purple;
}

.promo-card:nth-child(3) h3::before{
	background-image: url(../img/advantage-picture-yellow.jpg);
}


.promo h3{
	text-transform: uppercase;
	color: #000000;
}

.promo li{
	list-style: none;
}

.promo a{
	width: 160px;
	height: 50px;
	padding: 18px 39px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 16px;
	text-align: center;
	vertical-align: middle;
}

.promo p{
	margin-bottom: 35px;
}

.promo-web {
	background-color: #fb565a;
}

.promo-web:hover, .promo-web:focus{
	background-color: #e74246;
}

.promo-web:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.promo-app{
	background-color: #00ca74;
}

.promo-app:hover, .promo-app:focus{
	background-color: #00bc6c;
}

.promo-app:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
}

.promo-pres{
	background-color: #efc84a;
}

.promo-pres:hover, .promo-pres:focus{
	background-color: #eab534;
}

.promo-pres:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
}

.controls{
	width: 261px;
}

.designs{
	width: 760px;
}

.designs li, .controls li {
	list-style: none;
}

.design-cards{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.design-cards li{
	position: relative;
	margin-top: 40px;
}

.design-card-info{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 360px;
	height: 231px;
	background-color: #eeeeee;
}

.design-card-header{
	/*::before{
	content: "";*/
	position: absolute;
	top: -39px;
	right: 1px;
	width: 358px;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	opacity: 0.12;
	/*background-image: url("../img/browser.svg");*/
}

.design-card-header:hover{
	opacity: 1;
}

.design-card-textheader{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	color: #000000;

}

.design-card-text{
	margin: 0;
	padding: 0;
	text-align: center;
}

.design-card-info a{
	display: block;
	width: 80px;
  	height: 13px;
  	padding: 19px 60px 18px 60px;
  	margin: 0 auto;
  	text-transform: uppercase;
  	font-size: 16px;
  	font-weight: 500;
  	line-height: 1.13;
  	text-align: center;
  	border-radius: 3px;
  	color: #ffffff;
  	background-color: #fb565a;
}

.design-card-info a:hover{
	background-color: #e74246;
}

.design-card-info a:active{
	background-color: #d7373b;
}

.filter-option {
	
}

.footer-main{
	margin: 69px 0;
}

.footer-all{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.footer-letters {
	margin: auto auto auto 120px;
	padding: 0;
	width: 540px;
	min-height: 80px;
}

.footer-letters > * {
	margin: 0;
	padding: 0;
}

.footer-buttons{
	display: flex;
	margin: 0;
	padding: 0;
}

.footer-button{
	list-style: none;
	padding: 0 6px;
}

.footer-buttons a{
	display: inline-block;
	border-radius: 50%;
	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	text-align: center;
	vertical-align: middle;
	}

.footer-buttons img, .footer-buttons svg{
	margin: 29px;
}

.social-button:hover{
	background-color: #e74246;
}

.social-button:active{
	background-color: #d7373b;
}

.social-button:active path{
	fill: rgba(255, 255, 255, 0.3);
}

.catalog-header{
	display: block;
	min-height: 190px;
	margin: 0 0 60px 0;
	padding: 0;
	background-color: #eeeeee;
}

.catalog-header h1{
	margin: 0;
	padding: 85px;
	font-size: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	vertical-align: middle;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
  	clip-path: inset(100%);
 	clip: rect(0 0 0 0);
  	overflow: hidden;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/


.modal-write-us{
	display: block;
	width: 960px;
	height: 590px;
	margin: 10px auto;
	padding: 90px 85px;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-inner{
	display: block;


}

.modal-header{
	display: flex;
	justify-content: space-between;
	margin: 0 10px;	
}

.modal-header h3{
	margin: 0;
	padding: 0;
	font-size: 45px;
	font-weight: 500;
	text-align: left;
	color: #000000;
}

.modal-fields{
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}

/* вспомогательный для сеток */

/*body > * {background: rgba(255, 0, 0, 0.3);}
body > * > * {background: rgba(75, 255, 0, 0.3);}
body > * > * > * {background: rgba(0, 0, 255, 0.3);}
body > * > * > * > * {background: rgba(150, 150, 150, 0.3);}*/